*{
	font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
	width: 100vw;
	height:90vh;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/b.jpeg');
	background-size: cover;
	background-position: 0%;
	position: relative;
	background-attachment: fixed;
}

nav{
	width: 100%;
	height:80px;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 80px;
	position:fixed;
	top:0;
	background-color: #8ac28a;
	z-index: 1;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


.menu-ctn > li {
    display: inline-block;
    
    padding: 10px 15px;
    transition: all 0.5s ease;
    position: relative;
  }
  .menu-ctn li:hover{
    cursor: pointer;
    background-color: #73ad70;
    
  
  }
  .menu-ctn li ul{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  }
  ul{
    list-style: none; 
  }
  
  #drop_down{
    display: none;
    position: absolute;
    width:100%;
    background-color: #c9dfc8;
    z-index: 1;
    text-align: left;
    left: 0%;
    top: 100%
  
  }
  #drop_down li {
    padding:  10px 15px;
      
  }
  #drop_down.active{
    display: block;
  
  }

.logo{
    font-weight: bolder;
    color: rgb(0, 1, 2);
	font-family: sans-serif;
	font-size:2.5em;
}

.h-text{
    max-width: 1400px;
    position: absolute;
	font-size: 40px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 20px;
}

.content{
	margin: 100px 400px 100px 400px ;
	align-items: center;
}

.sub-heading {
	text-align: center;
}

.text{
	font-size: 1rem;
	line-height: 1.7rem;
	margin: 1rem 0;
	text-align: justify;
	align-items: center;
	margin-top: 20px;
}

.text1{
	font-size: 1rem;
	line-height: 1.7rem;
	margin: 1rem 0;
	text-align: center;
	align-items: center;
	margin-top: 20px;
}

.content-1{
	margin: 150px 350px 150px 350px ;
	align-items: center;
	
}

.end{
	width: 100%;
    background-color:#091f0a;
    font-size: 20px;
	text-align: center;
    align-items:left;
    height: 60px;
    color: white;
	margin: 0px 0px 0px 0px;
}
.footer {
	position: relative;
	width: 100%;
	background: #025d23;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .social-icon,
  .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
	list-style: none;
  }
  
  .social-icon__link {
	font-size: 2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
  }
  .social-icon__link:hover {
	transform: translateY(-10px);
  }
  
  .menu__link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
  }
  
  .menu__link:hover {
	opacity: 1;
  }
  
  .footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
  }